name: Build and Deploy
on:
  push:
    branches: [ master, action ]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1
        with:
          submodules: 'true'

      - name: Install and Build
        run: |
          npm install
          npm run preview

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.5
        with:
          branch: preview # The branch the action should deploy to.
          folder: dist # The folder the action should deploy.
